[submodule "gr_generalized_application"]
	path = gr_generalized_application
	url = git@github.com:huangwanhong-maker/Generalized-Generativity-Relational-Social-Science-Application.git
[submodule "gr_academia_application"]
	path = gr_academia_application
	url = git@github.com:huangwanhong-maker/Generative-Relational-Academia-Application.git
